@charset "UTF-8";
/*variables*/
/*Fuentes*/
/*Colores*/
header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
  /*NAV*/
  /*Media Qery Header Index*/ }
  header #tituloHeader {
    /* Imagen de fondo header*/
    background-image: url("../img/salon headder 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.5px);
    background-position: center;
    /*Titulo h1 header*/
    font-family: "Corinthia", cursive;
    color: #ffebcc;
    filter: none;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
    text-align: center; }
  header .navbar {
    font-family: "Corinthia", cursive;
    background-color: #bf9f93;
    z-index: 3; }
    header .navbar ul {
      display: flex; }
      header .navbar ul li {
        width: 25%;
        height: 5.5vh; }
        header .navbar ul li a {
          font-size: 5vh;
          font-weight: 500;
          text-decoration: none;
          transition: linear 0.5s; }
  @media only screen and (max-width: 468px) {
    header header {
      height: 24vh; }
    header #tituloHeader {
      font-size: 5vh;
      font-weight: 60px;
      transition: linear 0.5s; }
    header .navbar ul li {
      height: 5vh; }
      header .navbar ul li a {
        font-size: 4vh;
        font-weight: 400; }
      header .navbar ul li a:hover {
        text-decoration: underline;
        font-size: 4.5vh;
        font-weight: 500; } }
  @media only screen and (min-width: 468px) {
    header header {
      height: 24vh; }
    header #tituloHeader {
      font-size: 5vh;
      font-weight: 60px;
      transition: linear 0.5s; }
    header .navbar ul li {
      height: 5vh; }
      header .navbar ul li a {
        font-size: 4vh;
        font-weight: 400; }
      header .navbar ul li a:hover {
        text-decoration: underline;
        font-size: 4.5vh;
        font-weight: 500; } }
  @media only screen and (min-width: 600px) {
    header header {
      height: 24vh; }
    header #tituloHeader {
      font-size: 5vh;
      font-weight: 60px;
      transition: linear 0.5s; }
    header .navbar ul li {
      height: 5vh; }
      header .navbar ul li a {
        font-size: 4vh;
        font-weight: 400; }
      header .navbar ul li a:hover {
        text-decoration: underline;
        font-size: 4.5vh;
        font-weight: 500; } }
  @media only screen and (min-width: 768px) {
    header header {
      height: 24vh; }
    header #tituloHeader {
      font-size: 5vh;
      font-weight: 60px;
      transition: linear 0.5s; }
    header .navbar ul li {
      height: 5vh; }
      header .navbar ul li a {
        font-size: 4vh;
        font-weight: 400; }
      header .navbar ul li a:hover {
        text-decoration: underline;
        font-size: 4.5vh;
        font-weight: 500; } }
  @media only screen and (min-width: 992px) {
    header header {
      height: 50vh; }
    header #tituloHeader {
      font-size: 10vh;
      font-weight: 120px;
      transition: linear 500ms ease-in; }
    header .navbar {
      height: 7.5vh; }
      header .navbar ul li {
        height: 8vh; }
        header .navbar ul li a {
          font-size: 6vh;
          font-weight: 400; }
        header .navbar ul li a:hover {
          text-decoration: underline;
          font-size: 6.5vh;
          font-weight: 500; } }

/*FOOT*/
/*footer con redes, info de contactos, e info afip*/
footer {
  display: grid;
  background-color: black; }
  footer #faceFoot, footer #instaFoot, footer #twitFoot {
    transition: all 500ms ease-out; }
    footer #faceFoot:hover, footer #instaFoot:hover, footer #twitFoot:hover {
      transform: scale(1.2);
      filter: saturate(400%); }
    footer #faceFoot :active, footer #instaFoot :active, footer #twitFoot :active {
      transform: scale(1.3); }
  footer #footerUno h3, footer #footerUno h4 {
    font-family: "Arvo", serif;
    color: darkgray; }
  footer #footerDos {
    font-family: "Arvo", serif;
    color: darkgray; }
    footer #footerDos h3 {
      font-family: "Arvo", serif;
      color: darkgray; }
  footer #footerTres h3, footer #footerTres h4 {
    font-family: "Arvo", serif;
    color: darkgray; }
  footer #footerCuatro {
    font-family: "Arvo", serif;
    color: darkgray; }
    footer #footerCuatro ul {
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: flex-start;
      align-content: center;
      justify-content: center;
      list-style: none; }
  footer #footerCinco p {
    font-family: "Arvo", serif, serif;
    color: darkgray;
    justify-content: center;
    align-content: center;
    text-align: center; }

/*Media Qery Footer*/
@media only screen and (max-width: 468px) {
  footer {
    height: 555px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 120px 150px 100px 50px;
    grid-template-areas: "footUno" "footDos" "footTres" "footCuatro" "footCinco";
    gap: 2px; }
    footer #faceFoot, footer #instaFoot, footer #twitFoot {
      width: 65px;
      height: 65px;
      margin: 15px;
      padding: 10px;
      transition: all 500ms ease-out; }
    footer #footerUno {
      grid-area: footUno;
      font-family: monospace;
      color: black;
      padding: 5px;
      text-align: center;
      align-items: center; }
    footer #footerDos {
      grid-area: footDos;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerTres {
      grid-area: footTres;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerCuatro {
      grid-area: footCuatro;
      padding: 5px;
      text-align: center;
      align-items: center;
      align-self: center; }
    footer #footerCinco {
      font-family: monospace;
      color: #070707;
      grid-area: footCinco;
      text-align: center;
      align-items: center;
      padding: 5px; } }

@media only screen and (min-width: 468px) {
  footer {
    height: 560px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 120px 150px 100px 50px;
    grid-template-areas: "footUno" "footDos" "footTres" "footCuatro" "footCinco";
    gap: 2px; }
    footer #faceFoot, footer #instaFoot, footer #twitFoot {
      width: 65px;
      height: 65px;
      margin: 15px;
      padding: 10px; }
    footer #footerUno {
      grid-area: footUno;
      font-family: monospace;
      color: black;
      padding: 5px;
      text-align: center;
      align-items: center; }
    footer #footerDos {
      grid-area: footDos;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerTres {
      grid-area: footTres;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerCuatro {
      grid-area: footCuatro;
      padding: 5px;
      text-align: center;
      align-items: center;
      align-self: center; }
    footer #footerCinco {
      font-family: monospace;
      color: #070707;
      grid-area: footCinco;
      text-align: center;
      align-items: center;
      padding: 5px; } }

@media only screen and (min-width: 600px) {
  footer {
    height: 565px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 120px 150px 100px 50px;
    grid-template-areas: "footUno" "footDos" "footTres" "footCuatro" "footCinco";
    gap: 2px; }
    footer #faceFoot, footer #instaFoot, footer #twitFoot {
      width: 75px;
      height: 75px;
      margin: 15px;
      padding: 10px; }
    footer #footerUno {
      grid-area: footUno;
      font-family: monospace;
      color: black;
      padding: 5px;
      text-align: center;
      align-items: center; }
    footer #footerDos {
      grid-area: footDos;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerTres {
      grid-area: footTres;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerCuatro {
      grid-area: footCuatro;
      padding: 5px;
      text-align: center;
      align-items: center;
      align-self: center; }
    footer #footerCinco {
      font-family: monospace;
      color: #070707;
      grid-area: footCinco;
      text-align: center;
      align-items: center;
      padding: 5px; } }

@media only screen and (min-width: 768px) {
  footer {
    height: 540px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 120px 150px 100px 50px;
    grid-template-areas: "footUno" "footDos" "footTres" "footCuatro" "footCinco";
    gap: 2px; }
    footer #faceFoot, footer #instaFoot, footer #twitFoot {
      width: 85px;
      height: 85px;
      margin: 15px;
      padding: 10px; }
    footer #footerUno {
      grid-area: footUno;
      font-family: monospace;
      color: black;
      padding: 5px;
      text-align: center;
      align-items: center; }
    footer #footerDos {
      grid-area: footDos;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerTres {
      grid-area: footTres;
      font-family: monospace;
      color: black;
      padding: 10px;
      text-align: center;
      align-items: center; }
    footer #footerCuatro {
      grid-area: footCuatro;
      padding: 5px;
      text-align: center;
      align-items: center;
      align-self: center; }
    footer #footerCinco {
      font-family: monospace;
      color: #070707;
      grid-area: footCinco;
      text-align: center;
      align-items: center;
      padding: 5px; } }

@media only screen and (min-width: 992px) {
  footer {
    height: 310px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px 120px 40px;
    grid-template-areas: "footUno footDos" "footTres footCuatro" "footCinco footCinco";
    gap: 2px; }
    footer #faceFoot, footer #instaFoot, footer #twitFoot {
      width: 90px;
      height: 90px;
      margin: 15px;
      padding: 10px; }
    footer #footerUno {
      grid-area: footUno;
      font-family: monospace;
      color: black;
      padding: 5px; }
    footer #footerDos {
      grid-area: footDos;
      font-family: monospace;
      color: black;
      padding: 10px; }
    footer #footerTres {
      grid-area: footTres;
      font-family: monospace;
      color: black;
      padding: 10px; }
    footer #footerCuatro {
      grid-area: footCuatro;
      padding: 5px;
      justify-content: space-between; }
    footer #footerCinco {
      font-family: monospace;
      color: #070707;
      grid-area: footCinco;
      text-align: center;
      align-items: center;
      padding: 5px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*MAIN INDEX*/
#indexMain {
  display: grid;
  width: 100%;
  background-color: #F2DDD0;
  /*Carrusel con imagenes de trabajos 100% ancho*/
  /*Box izquierda de la pantalla con info de la funcion de la empresa*/
  /*mapa del local*/ }
  #indexMain #indexMainDivUno {
    background-color: #F2DDD0;
    grid-area: div;
    align-items: center; }
    #indexMain #indexMainDivUno .carousel, #indexMain #indexMainDivUno .carousel-inner, #indexMain #indexMainDivUno .item, #indexMain #indexMainDivUno .img, #indexMain #indexMainDivUno .carouselExampleControlsNoTouching {
      height: 100%;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      padding: 2%;
      background-position: bottom;
      border-radius: 5px; }
  #indexMain #sectionUno {
    background-color: #F2DDD0;
    grid-area: section;
    padding: 6%;
    text-align: center; }
  #indexMain .texto_cuerpo, #indexMain .texto_titulo, #indexMain .texto_resaltado, #indexMain #galeriaMain h2, #galeriaMain #indexMain h2, #indexMain #contactanosMain h2, #contactanosMain #indexMain h2 {
    font-size: 2.5vh;
    font-weight: 200;
    font-family: 'Arvo', serif;
    text-align: center;
    margin: 10px; }
  #indexMain .texto_titulo {
    font-size: 3vh;
    font-weight: 700;
    padding: 5px; }
  #indexMain .texto_resaltado {
    font-size: 2.6vh;
    font-weight: 700; }
  #indexMain #articleUno {
    background-color: #F2DDD0;
    grid-area: article;
    align-items: center;
    text-align: center;
    border: black;
    padding: 5%; }

/*Chat flotante whatsapp*/
#chatW {
  width: 7vh;
  height: 7vh;
  position: fixed;
  right: 18px;
  bottom: 18px; }
  #chatW img {
    width: 7vh;
    position: sticky; }
  #chatW:hover {
    transition: all 400ms ease-out;
    transform: scale(1.3);
    filter: saturate(150%); }

/*Media Qery Main Index*/
@media only screen and (max-width: 468px) {
  #indexMain {
    height: 1200px;
    grid-template-rows: 400px 440px 300px;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "div" "section" "article"; } }

@media only screen and (min-width: 468px) {
  #indexMain {
    height: 1200px;
    grid-template-rows: 400px 440px 300px;
    grid-template-columns: 100%;
    gap: 0.2rem;
    grid-template-areas: "div" "section" "article"; }
  #sectionUno {
    padding: 2%; } }

@media only screen and (min-width: 600px) {
  #indexMain {
    height: 1200px;
    grid-template-rows: 470px 370px 300px;
    grid-template-columns: 100%;
    gap: 0.2rem;
    grid-template-areas: "div" "section" "article"; } }

@media only screen and (min-width: 768px) {
  #indexMain {
    height: 1172px;
    grid-template-rows: 500px 350px 300px;
    grid-template-columns: 100%;
    gap: 0.5rem;
    grid-template-areas: "div" "section" "article"; } }

@media only screen and (min-width: 992px) {
  #indexMain {
    height: 1292px;
    grid-template-rows: 800px 450px;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    grid-template-areas: "div div" "section article"; } }

/*Main Nosotros*/
#nosotrosMain {
  background-color: #F2F2F2;
  width: 100%;
  display: grid;
  /*Breve reseña historica de la empresa*/
  /*Foto de Dueña*/
  /*Video*/ }
  #nosotrosMain section {
    background-color: #F2F2F2;
    grid-area: section;
    padding: 5%; }
    #nosotrosMain section #titulo_nosotros {
      font-family: 'Arvo', serif;
      text-align: center;
      margin: 10px;
      text-align: center; }
  #nosotrosMain #cuerpo_nosotros {
    font-family: 'Arvo', serif;
    text-align: center;
    margin: 10px;
    text-align: justify; }
  #nosotrosMain #imgMur {
    height: 100%;
    width: 95%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288);
    grid-area: imgMur; }
  #nosotrosMain #nosotrosMainDiv {
    border: solid,2px,blue;
    grid-area: div; }

/*Media Qery Main Nosotros*/
@media only screen and (max-width: 468px) {
  #nosotrosMain {
    height: 1160px;
    grid-template-rows: 500px 300px 350px;
    grid-template-columns: 100%;
    gap: 0.5rem;
    grid-template-areas: "section" "imgMur" "div"; }
    #nosotrosMain section {
      height: 295px;
      width: 100%;
      justify-content: center; }
      #nosotrosMain section .texto_titulo2 {
        font-weight: 600;
        font-size: 3vh; }
      #nosotrosMain section .texto_cuerpo2 {
        font-weight: 400;
        font-size: 2vh; }
    #nosotrosMain #imgMur {
      width: auto;
      height: 100%;
      justify-items: center;
      align-self: center;
      background-position: center;
      padding: 1%;
      text-align: center; }
    #nosotrosMain #nosotrosMainDiv iframe {
      height: 340px;
      width: 100%;
      text-align: center;
      align-items: stretch;
      padding: 1%; } }

@media only screen and (min-width: 468px) {
  #nosotrosMain {
    height: 1120px;
    grid-template-rows: 450px 300px 350px;
    grid-template-columns: 100%;
    gap: 0.5rem;
    grid-template-areas: "section" "imgMur" "div"; }
    #nosotrosMain section {
      height: 295px;
      width: 100%;
      justify-content: center; }
      #nosotrosMain section .texto_titulo2 {
        font-weight: 700;
        font-size: 3.5vh; }
      #nosotrosMain section .texto_cuerpo2 {
        font-weight: 500;
        font-size: 2.1vh; }
    #nosotrosMain #nosotrosMainDiv iframe {
      height: 340px;
      width: 100%;
      text-align: center;
      align-items: stretch;
      padding: 1%; }
    #nosotrosMain #imgMur {
      width: auto;
      height: 100%;
      justify-items: center;
      align-self: center;
      background-position: center;
      padding: 1%;
      text-align: center; } }

@media only screen and (min-width: 600px) {
  #nosotrosMain {
    height: 1100px;
    grid-template-rows: 430px 300px 350px;
    grid-template-columns: 100%;
    gap: 0.5rem;
    grid-template-areas: "section" "imgMur" "div"; }
    #nosotrosMain section {
      height: 295px;
      width: 100%;
      justify-content: center; }
      #nosotrosMain section .texto_titulo2 {
        font-weight: 700;
        font-size: 3.5vh; }
      #nosotrosMain section .texto_cuerpo2 {
        font-weight: 500;
        font-size: 2.2vh; }
    #nosotrosMain #nosotrosMainDiv iframe {
      height: 340px;
      width: 100%;
      text-align: center;
      align-items: stretch;
      padding: 1%; }
    #nosotrosMain #imgMur {
      width: auto;
      height: 100%;
      justify-items: center;
      align-self: center;
      background-position: center;
      padding: 1%;
      text-align: center; } }

@media only screen and (min-width: 768px) {
  #nosotrosMain {
    height: 970px;
    grid-template-rows: 470px 450px;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    grid-template-areas: "section imgMur" "div div"; }
    #nosotrosMain section {
      height: 295px;
      width: 100%;
      font-size: 2vh; }
      #nosotrosMain section .texto_titulo2 {
        font-weight: 700;
        font-size: 3.5vh; }
      #nosotrosMain section .texto_cuerpo2 {
        font-weight: 500;
        font-size: 2vh; }
    #nosotrosMain #imgMur {
      width: 100%;
      height: 100%;
      justify-items: center;
      align-self: center;
      background-position: center;
      padding: 5%; }
    #nosotrosMain #nosotrosMainDiv iframe {
      height: 520px;
      width: 99%;
      text-align: center;
      align-items: center;
      align-content: center;
      align-self: center;
      justify-content: center;
      padding: 5%; } }

@media only screen and (min-width: 992px) {
  #nosotrosMain {
    height: 1000px;
    grid-template-rows: 470px 470px;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    grid-template-areas: "section imgMur" "div div"; }
    #nosotrosMain section {
      height: 295px;
      width: 100%; }
      #nosotrosMain section #titulo_nosotros {
        font-weight: 800;
        font-size: 4vh; }
      #nosotrosMain section #cuerpo_nosotros {
        font-weight: 500;
        font-size: 2.3vh; }
    #nosotrosMain #imgMur {
      width: 100%;
      height: 100%;
      justify-items: center;
      align-self: center;
      background-position: center;
      padding: 1%; }
    #nosotrosMain #nosotrosMainDiv {
      height: 520px;
      width: 820;
      text-align: center;
      align-items: center;
      align-content: center;
      align-self: center;
      justify-content: center;
      padding: 5%; } }

/*MAIN SERVICIOS*/
#serviciosMain {
  /*TEXTOS PARA LINKS CON DISTINTA INFO SOBRE CADA SERVICIO*/
  display: grid;
  width: 100%; }
  #serviciosMain #serviciosMainDivDos {
    display: flex;
    align-items: center;
    justify-content: center; }
    #serviciosMain #serviciosMainDivDos #accordionExample {
      display: flex;
      flex-direction: column;
      width: 95%;
      justify-content: center;
      gap: 5px;
      margin: 8px;
      margin-top: 5px;
      margin-bottom: 5px; }
    #serviciosMain #serviciosMainDivDos .accordion-body p {
      font-family: 'Arvo', serif; }
    #serviciosMain #serviciosMainDivDos .servContain {
      display: flex;
      font-family: 'Arvo', serif;
      background-image: url("../img/multimedia/galeria/img5.jpg");
      background-position: center;
      filter: blur(2px);
      -webkit-filter: blur(0.4px);
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: eventos;
      z-index: 0;
      width: 100%;
      transition: all 500ms ease;
      border-radius: 5px;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288);
      position: relative; }
      #serviciosMain #serviciosMainDivDos .servContain p {
        display: flex;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        outline: 8px double white;
        font-weight: bold; }
    #serviciosMain #serviciosMainDivDos .servContain2 {
      font-family: 'Arvo', serif;
      background-image: url("../img/multimedia/galeria/img8.jpeg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: comercial;
      z-index: 0;
      width: 100%;
      transition: all 500ms ease;
      border-radius: 5px;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288);
      overflow: hidden; }
      #serviciosMain #serviciosMainDivDos .servContain2 p {
        display: flex;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        outline: 8px double white;
        font-weight: bold; }
    #serviciosMain #serviciosMainDivDos .servContain3 {
      font-family: 'Arvo', serif;
      background-image: url(../img/multimedia/galeria/img13.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: productos;
      z-index: 0;
      width: 100%;
      transition: all 500ms ease;
      border-radius: 5px;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288);
      overflow: hidden; }
      #serviciosMain #serviciosMainDivDos .servContain3 p {
        display: flex;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        outline: 8px double white;
        font-weight: bold; }
    #serviciosMain #serviciosMainDivDos .servContain4 {
      font-family: 'Arvo', serif;
      background-image: url(../img/multimedia/galeria/img12.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: productos;
      z-index: 0;
      width: 100%;
      transition: all 500ms ease;
      border-radius: 5px;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288);
      overflow: hidden; }
      #serviciosMain #serviciosMainDivDos .servContain4 p {
        display: flex;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        outline: 8px double white;
        font-weight: bold; }

/*Media Qery Main Servicios*/
@media only screen and (max-width: 468px) {
  #serviciosMainDivDos .servContain p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain2 p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain2:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain3 p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain3:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain4 p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain4:hover {
    transform: scale(1.07); } }

@media only screen and (min-width: 468px) {
  #serviciosMainDivDos .servContain p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain2 p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain2:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain3 p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain3:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain4 p {
    height: 150px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain4:hover {
    transform: scale(1.07); } }

@media only screen and (min-width: 600px) {
  #serviciosMainDivDos .servContain p {
    height: 200px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain2 p {
    height: 200px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain2:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain3 p {
    height: 200px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain3:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain4 p {
    height: 200px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain4:hover {
    transform: scale(1.07); } }

@media only screen and (min-width: 768px) {
  #serviciosMainDivDos .servContain p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain2 p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain2:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain3 p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain3:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain4 p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain4:hover {
    transform: scale(1.07); } }

@media only screen and (min-width: 992px) {
  #serviciosMainDivDos .servContain p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain2 p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain2:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain3 p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain3:hover {
    transform: scale(1.07); }
  #serviciosMainDivDos .servContain4 p {
    height: 210px;
    width: 100%;
    font-size: 35px;
    padding: 2px;
    outline-offset: -20px; }
  #serviciosMainDivDos .servContain4:hover {
    transform: scale(1.07); } }

/* MAIN GALERIA*/
#galeriaMain h2 {
  padding: 0.8em 0 .4em;
  text-align: center;
  font-size: 4.5vh;
  font-weight: 600;
  padding: 5px;
  margin-top: 15px; }

#galeriaMain .gallery {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  padding-left: .1em;
  padding-right: .1em; }
  #galeriaMain .gallery .galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-out; }
    #galeriaMain .gallery .galleryImg:hover {
      transform: scale(1.3); }
  #galeriaMain .gallery .galleryPicture {
    position: relative;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288); }
    #galeriaMain .gallery .galleryPicture .capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(191, 159, 147, 0.7);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      #galeriaMain .gallery .galleryPicture .capa h3 {
        color: white;
        font-weight: 400;
        margin-bottom: 50px;
        transition: all 500ms ease-out;
        margin-top: 10px; }
      #galeriaMain .gallery .galleryPicture .capa p {
        color: white;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto; }
    #galeriaMain .gallery .galleryPicture:hover > .capa {
      opacity: 1;
      visibility: visible; }
      #galeriaMain .gallery .galleryPicture:hover > .capa h3 {
        margin-top: 50px;
        margin-bottom: 15px; }
    #galeriaMain .gallery .galleryPicture:hover > img {
      transform: scale(1.09); }

#galeriaMain .galleryPictureG1 {
  grid-area: foto1; }

#galeriaMain .galleryPictureG2 {
  grid-area: foto2; }

#galeriaMain .galleryPictureG3 {
  grid-area: foto3; }

#galeriaMain .galleryPictureG4 {
  grid-area: foto4; }

#galeriaMain .galleryPictureG5 {
  grid-area: foto5; }

#galeriaMain .galleryPictureG6 {
  grid-area: foto6; }

#galeriaMain .galleryPictureG7 {
  grid-area: foto7; }

#galeriaMain .galleryPictureG8 {
  grid-area: foto8; }

@media only screen and (max-width: 468px) {
  #galeriaMain .gallery {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 160px;
    grid-template-areas: "foto1 foto1" "foto2 foto2" "foto3 foto5" "foto4 foto6" "foto7 foto6" "foto8 foto8";
    gap: 0.8em; } }

@media only screen and (min-width: 468px) {
  #galeriaMain .gallery {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 160px;
    grid-template-areas: "foto1 foto1" "foto2 foto2" "foto3 foto5" "foto4 foto6" "foto7 foto6" "foto8 foto8";
    gap: 0.8em; } }

@media only screen and (min-width: 600px) {
  #galeriaMain .gallery {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 200px;
    grid-template-areas: "foto1 foto1" "foto2 foto2" "foto3 foto5" "foto4 foto6" "foto7 foto6" "foto7 foto6" "foto8 foto8";
    gap: 0.8em; } }

@media only screen and (min-width: 768px) {
  #galeriaMain .gallery {
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 160px;
    grid-template-areas: "foto1 foto1 foto2 foto2" "foto1 foto1 foto2 foto2" "foto4 foto4 foto3 foto3" "foto4 foto4 foto3 foto3" "foto5 foto5 foto6 foto6" "foto5 foto5 foto6 foto6" "foto7 foto7 foto6 foto6" "foto7 foto7 foto6 foto6" "foto8 foto8 foto8 foto8" "foto8 foto8 foto8 foto8";
    gap: 0.4em; } }

@media only screen and (min-width: 992px) {
  #galeriaMain .gallery {
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 160px;
    grid-template-areas: "foto1 foto1 foto2 foto2" "foto1 foto1 foto2 foto2" "foto3 foto4 foto4 foto5" "foto3 foto4 foto4 foto5" "foto3 foto7 foto7 foto6" "foto8 foto7 foto7 foto6" "foto8 foto7 foto7 foto6";
    gap: 0.4em; } }

/* MAIN CONTACTO*/
/*FORMULARIO DE CONTACTO*/
#contactanosMain {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
  padding: 11px; }
  #contactanosMain h2 {
    padding: 0.8em 0 .4em;
    text-align: center;
    font-size: 3.5vh;
    font-weight: 600;
    padding: 5px;
    margin-top: 15px; }
  #contactanosMain section form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center; }
    #contactanosMain section form #nombreUno {
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px; }
    #contactanosMain section form #nombreDos {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #BF9F93;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288); }
    #contactanosMain section form #emailUno {
      font-family: Arial, Helvetica, sans-serif; }
    #contactanosMain section form #emailDos {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #BF9F93;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288); }
    #contactanosMain section form #telefonoUno {
      font-family: Arial, Helvetica, sans-serif; }
    #contactanosMain section form #telefonoDos {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #BF9F93;
      left: 10px;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288); }
    #contactanosMain section form textarea {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 40px;
      background-color: #BF9F93;
      left: 10px;
      border: 2px,orange;
      margin-right: 10px;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288);
      margin-top: 15px; }
    #contactanosMain section form #botonSend, #contactanosMain section form #botonReset {
      font-size: 25px;
      font-weight: 2px;
      margin: 2%;
      padding: 5px;
      border: solid, 2px;
      background-color: #BF9F93;
      box-shadow: 1px 10px 10px rgba(129, 129, 129, 0.288); }
    #contactanosMain section form #nombreDos:focus {
      height: 30px;
      width: 280px;
      background-color: #bf9f93bd; }
    #contactanosMain section form #emailDos:focus {
      height: 30px;
      width: 280px;
      background-color: #bf9f93bd; }
    #contactanosMain section form #telefonoDos:focus {
      height: 30px;
      width: 280px;
      background-color: #bf9f93bd; }
    #contactanosMain section form textarea:focus {
      background-color: #bf9f93bd; }
  @media only screen and (max-width: 468px) {
    #contactanosMain #contactanosMain {
      height: 1100px; }
      #contactanosMain #contactanosMain #nombreUno {
        font-size: 20px;
        line-height: 40px;
        padding: 8px; }
      #contactanosMain #contactanosMain #nombreDos {
        font-size: 20px;
        line-height: 40px;
        padding: 10px;
        height: 25px;
        width: 260px;
        transition: all 1s; }
      #contactanosMain #contactanosMain #emailUno {
        font-size: 20px;
        line-height: 40px;
        padding: 10px; }
      #contactanosMain #contactanosMain #emailDos {
        height: 25px;
        width: 250px;
        font-size: 20px;
        line-height: 40px;
        padding: 10px;
        transition: all 1s; }
      #contactanosMain #contactanosMain #telefonoUno {
        font-size: 20px;
        line-height: 40px;
        padding: 10px; }
      #contactanosMain #contactanosMain #telefonoDos {
        height: 25px;
        width: 250px;
        font-size: 20px;
        line-height: 40px;
        padding: 10px;
        transition: all 1s; }
      #contactanosMain #contactanosMain textarea {
        font-size: 20px;
        padding: 10px;
        height: 350px;
        width: 400px;
        transition: all 1s; } }
  @media only screen and (min-width: 468px) {
    #contactanosMain #nombreUno {
      font-size: 20px;
      line-height: 40px;
      padding: 10px; }
    #contactanosMain #nombreDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 25px;
      width: 250px;
      transition: all 1s; }
    #contactanosMain #emailUno {
      font-size: 20px;
      line-height: 40px;
      padding: 10px; }
    #contactanosMain #emailDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 25px;
      width: 250px;
      transition: all 1s; }
    #contactanosMain #telefonoUno {
      font-size: 20px;
      line-height: 40px;
      padding: 10px; }
    #contactanosMain #telefonoDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 25px;
      width: 250px;
      transition: all 1s; }
    #contactanosMain textarea {
      font-size: 20px;
      padding: 10px;
      height: 300px;
      width: 200px;
      transition: all 1s; } }
  @media only screen and (min-width: 600px) {
    #contactanosMain #nombreUno {
      font-size: 20px;
      line-height: 40px;
      padding: 8px; }
    #contactanosMain #nombreDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 25px;
      width: 250px;
      transition: all 1s; }
    #contactanosMain #emailUno {
      font-size: 20px;
      line-height: 40px;
      padding: 10px; }
    #contactanosMain #emailDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 25px;
      width: 250px;
      transition: all 1s; }
    #contactanosMain #telefonoUno {
      font-size: 20px;
      line-height: 40px;
      padding: 10px; }
    #contactanosMain #telefonoDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 25px;
      width: 250px;
      transition: all 1s; }
    #contactanosMain textarea {
      font-size: 20px;
      padding: 10px;
      height: 350px;
      width: 400px; } }
  @media only screen and (min-width: 768px) {
    #contactanosMain #contactanosMain {
      flex-direction: column; }
    #contactanosMain .nombre__Uno {
      display: flex;
      flex-direction: row;
      height: 45px; }
    #contactanosMain #nombreUno {
      font-size: 20px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; }
    #contactanosMain #nombreDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 250px;
      transition: all 1s;
      justify-content: flex-start; }
    #contactanosMain .email__Uno {
      display: flex;
      flex-direction: row;
      height: 45px; }
    #contactanosMain #emailUno {
      font-size: 20px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; }
    #contactanosMain #emailDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 250px;
      transition: all 1s;
      justify-content: flex-start; }
    #contactanosMain .tel__Uno {
      display: flex;
      flex-direction: row;
      height: 45px; }
    #contactanosMain #telefonoUno {
      font-size: 20px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; }
    #contactanosMain #telefonoDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 250px;
      transition: all 1s;
      justify-content: flex-start; }
    #contactanosMain textarea {
      font-size: 20px;
      padding: 10px;
      height: 350px;
      width: 350px; } }
  @media only screen and (min-width: 992px) {
    #contactanosMain #contactanosMain {
      flex-direction: column; }
    #contactanosMain .nombre__Uno {
      display: flex;
      flex-direction: row;
      height: 45px; }
    #contactanosMain #nombreUno {
      font-size: 25px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; }
    #contactanosMain #nombreDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 250px;
      transition: all 500ms;
      justify-content: flex-start; }
    #contactanosMain #emailUno {
      font-size: 25px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; }
    #contactanosMain #emailDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 250px;
      transition: all 1s;
      justify-content: flex-start; }
    #contactanosMain #telefonoUno {
      font-size: 25px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; }
    #contactanosMain #telefonoDos {
      font-size: 20px;
      line-height: 40px;
      padding: 10px;
      height: 40px;
      width: 250px;
      transition: all 1s;
      justify-content: flex-start; }
    #contactanosMain textarea {
      font-size: 20px;
      padding: 10px;
      height: 350px;
      width: 700px; }
    #contactanosMain #consulta {
      width: 500px;
      font-size: 20px;
      line-height: 40px;
      padding: 8px;
      width: 250px;
      align-items: center;
      justify-content: end; } }
