header{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    text-decoration: none;

        #tituloHeader{
        /* Imagen de fondo header*/
        background-image: url("../img/salon\ headder\ 2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(0.5px);
        background-position: center;

        /*Titulo h1 header*/
        font-family:$fontTitulos;
        color: #ffebcc ;
        filter: none;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
        text-align: center;
        }
        /*NAV*/
        .navbar{
            font-family: $fontNav;
            background-color:#BF9F93;
            
            z-index: 3;
            
            
                ul{
                display:flex;
                
                
                    li{
                    width: 25%;
                    height: 5.5vh;
                        
                        a{
                        font-size: 5vh;
                        font-weight: 500;
                        text-decoration: none;
                        transition:linear 0.5s;
                        }
                        
                    
                    }
                }    
        
            }
    /*Media Qery Header Index*/
@media only screen and (max-width:468px){
    header {
        height: 24vh
    }
        #tituloHeader{
        font-size: 5vh;
        font-weight: 60px;
        transition: linear 0.5s;
        }
        .navbar{
        
            ul{
                li{
                height: 5vh;
                    a{                    
                    font-size: 4vh;
                    font-weight: 400;
                    }
                    & a:hover{
                        text-decoration: underline;
                        font-size: 4.5vh;
                        font-weight: 500;    
                        }
                 }
            }
        }  
}
@media only screen and (min-width:468px){
    header {
        height: 24vh
    }
        #tituloHeader{
        font-size: 5vh;
        font-weight: 60px;
        transition: linear 0.5s;
        }
        .navbar{
        
            ul{
                li{
                height: 5vh;
                    a{                    
                    font-size: 4vh;
                    font-weight: 400;
                    }
                    & a:hover{
                        text-decoration: underline;
                        font-size: 4.5vh;
                        font-weight: 500;    
                        }
                 }
            }
        }  
}
@media only screen and (min-width:600px){
    header {
        height: 24vh
    }
        #tituloHeader{
        font-size: 5vh;
        font-weight: 60px;
        transition: linear 0.5s;
        }
        .navbar{
        
            ul{
                li{
                height: 5vh;
                    a{                    
                    font-size: 4vh;
                    font-weight: 400;
                    }
                    & a:hover{
                        text-decoration: underline;
                        font-size: 4.5vh;
                        font-weight: 500;    
                        }
                 }
            }
        }  
}
@media only screen and (min-width:768px){
    header {
        height: 24vh
    }
        #tituloHeader{
        font-size: 5vh;
        font-weight: 60px;
        transition: linear 0.5s;
        }
        .navbar{
        
            ul{
                li{
                height: 5vh;
                    a{                    
                    font-size: 4vh;
                    font-weight: 400;
                    }
                    & a:hover{
                        text-decoration: underline;
                        font-size: 4.5vh;
                        font-weight: 500;    
                        }
                 }
            }
        }  
}
@media only screen and (min-width:992px){

    header {
        height: 50vh
    }
        #tituloHeader{
        font-size: 10vh;
        font-weight: 120px;
        transition: linear 0.5s;
        }
        .navbar{
        
            ul{
                li{
                height: 8vh;
                    a{                    
                    font-size: 7vh;
                    font-weight: 400;
                    }
                    & a:hover{
                        text-decoration: underline;
                        font-size: 8vh;
                        font-weight: 500;    
                        }
                 }
            }
        }  
}
    
    


}

